* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #272343;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.header, .footer {
    background-color: #bae8e8;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  background-color: #e3f6f5;
  padding: 20px;
  flex-grow: 1;
}

/* Style the list inside the menu */

nav ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
}

nav ul li {
    background-color: #bae8e8;
    height: 48px;
    margin-bottom: 4px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover {
    background-color: #8ae6e6;
}

.active {
    background-color: #8ae6e6;
}

nav ul a {
    text-decoration: none;
    width: 100%;
    text-align: center;
}

article {
  float: left;
  padding: 32px;
  width: 70%;
  background-color: #f1f1f1;
  flex-grow: 1;
}

article * {
    margin-bottom: 32px;
}

strong {
    margin-right: 16px;
}

.steckbrief {
    background-color: #ffffff;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* Clear floats after the columns */
main::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: 100%;
  }
}